html {
  font-size: 1em;
  scroll-behavior: smooth;

  @media (max-width: 1440.98px) {
    font-size: 0.8em;
  }

  @include for-thumbnail {
    font-size: 0.8em;
  }
}

body {
  font-family: $font-primary; // RFDewi-Bold
  color: $color-dark-1;
  line-height: 1;
}

[class*="__container"] {
  margin: 0 auto;
  padding: 0 16px;

  max-width: rem(1256 + 32);
  width: 80%;

  @include for-tablet-portrait {
    width: 100%;
  }
}

.wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  background-color: #fff;
  position: relative;
  z-index: 4;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(60);
    transform: translate(0px, -100%);
    background: linear-gradient(180deg, rgba(#fff, 0.3), rgba(#fff, 0.8));
  }
}
