html {
  font-size: 1em;
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary; // RFDewi-Bold
  color: $color-dark-1;
  line-height: 1;
}

[class*="__container"] {
  max-width: rem(1216 + 64);
  margin: 0 auto;
  padding: 0 32px;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
