// fonts
$font-primary: "RFDewi-Expanded", Fallback;
$font-secondary: "Gilroy", Fallback;
$font-tertiary: "Golos Text", sans-serif;

// colors
$color-dark-1: #333333;
$color-dark-2: #4f4f4f;
$color-dark-4: #bdbdbd;

$color-accent-1: #2faee5;
$color-accent-2: #7a9aae;
$color-accent-3: #b2e8ff;

$color-light-1: #ffd466;
$color-light-2: #ec6726;

// width
$container-width: rem(1216);
