.button {
  display: inline-block;
  background-color: $color-light-1;
  border-radius: rem(12);
  @include responsive-font(19, 16);
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: $color-dark-1;

  padding: rem(30) rem(40);
  transition: all 0.2s ease;

  &:hover {
    background-color: #ffcd4d;
  }

  &:active {
    background-color: #ffe08f;
  }

  &--outline {
    background-color: #fff;
    border: 2px solid $color-light-1;

    &:hover {
      background-color: #ffd466;
    }

    &:active {
      background-color: #ffe08f;
    }
  }
}
