.contact-box {
  flex: 0 1 rem(220);
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__text {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
  }

  &__tel {
    font-family: $font-primary;
    font-size: rem(16);
    font-weight: 700;
    line-height: 1.2;
    color: $color-dark-1;
  }

  &__schedule {
    font-family: $font-secondary;
    font-size: rem(14);
    font-weight: 400;
    line-height: 1.2;
    color: $color-accent-2;
  }

  &__mail-icon {
    margin-left: rem(16);
  }
}
