.header {
  position: absolute;
  height: rem(88);
  width: 100%;

  &__container {
    padding: rem(14) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid grey;
  }
}
