.hero {
  padding-top: rem(158);
  padding-bottom: rem(114);
  background-color: #eed;

  &__container {
    border: 1px solid grey;
    text-align: center;
    color: $color-dark-1;
    position: relative;
  }

  &__title {
    margin: 0;
    font-size: rem(64);
    text-transform: uppercase;
    line-height: 1;
  }

  &__subtitle {
    margin-top: rem(20);
    font-family: $font-secondary;
    font-weight: 400;
    font-size: rem(24);
    line-height: 1;
  }

  &__button {
    position: absolute;
    bottom: rem(120);
    left: 50%;
    transform: translateX(-50%);
  }
}
