.particle {
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 50%;
}

@for $i from 1 through 30 {
  @keyframes particle-animation-#{$i} {
    100% {
      transform: translate3d(
        (random(90) * 1vw),
        (random(90) * 1vh),
        (random(100) * 1px)
      );
    }
  }

  .particle:nth-child(#{$i}) {
    animation: particle-animation-#{$i} 60s infinite;
    $size: random(5) + 12 + px;
    opacity: random(70) / 100;
    height: $size;
    width: $size;
    animation-delay: -$i * 0.5s;
    transform: translate3d(
      (random(90) * 3vw),
      (random(90) * 3vh),
      (random(100) * 1px)
    );

    @if $i % 6 == 0 {
      z-index: 4;
    }
  }
}
