.services-card {
  position: relative;
  border-radius: rem(18);

  &:before {
    content: "";
    display: block;
    background-color: $color-accent-1;
    border-radius: rem(22);
    position: absolute;
    top: 4px;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: rem(18);
    box-shadow: 0px 0px 20px 0px #096c9726;
    background-color: #fff;
    padding: rem(10);
  }

  &__image-box {
    width: 100%;

    img {
      width: 100%;
    }
  }

  &__actions {
    flex: 1;
    margin: rem(15) rem(35) rem(25) rem(35);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: rem(154);

    @include for-tablet-portrait {
      height: auto;
    }
  }

  &__title {
    flex: 1;
    @include responsive-font(24, 19);
    line-height: 1.2;
    text-transform: uppercase;
  }

  &__button {
    width: 100%;
    min-height: rem(80);
    padding: 0 rem(4);

    @include for-tablet-portrait {
      margin-top: rem(16);
    }
  }

  &__link {
    display: inline-block;
    cursor: pointer;
    margin: 0 rem(35) rem(25) rem(35);
    font-size: rem(18) !important;
  }
}
